<div class="createwrapper">
  <form [formGroup]="form" class="example-form">
    <mat-form-field class="example-full-width">
      <input 
        type="text"
        matInput 
        formControlName="firstName"
        placeholder="First Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input 
        type="text"
        matInput 
        formControlName="lastName"
        placeholder="Last Name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text"
        matInput 
        formControlName="email"
        placeholder="email">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input 
        type="text"
        matInput 
        formControlName="phone"
        placeholder="Phone">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input 
        type="text"
        matInput 
        formControlName="nationality"
        placeholder="Nationality">
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary">Create User</button>
  </form>
</div>


